* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.APIS {
  text-align: center;
}

.input-text {
  width: 70%;
  height: 40px;
  font-size: 20px;
}

.input-button {
  width: 20%;
  height: 40px;
  font-size: 20px;
}
